

.inputdiv{
  margin-top: 5vh; 
  height: 300px;
  width: 33vw;
  border: solid, 2px, grey;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

}

.inputdiv label, input{
  position: relative;
  left: 5vw;
}

.inputdiv input{
  border-radius: 5px;
  width: 15vw;
  height: 4vh;
  margin-bottom: 15px;
}

.inputdiv .Namec{
  margin-right: 20px;
}

.inputdiv .IDc{
  margin-right: 40px;
}

.inputdiv .Pricec{
  margin-right: 25px;
}

.inputdiv button{
  position: absolute;
  right: 40px;
 
}

.inputdiv h3{
  margin-left: 8px;
}

table, th, td {
  border:1px solid black;
  width: 30vw;
  text-align: center;
}

th{
  background-color: #e5e5e5;
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  
}

td {
  border:1px solid black;
  text-align: center;
  padding: 8px;
}

.titlediv{
  display: flex;
}

.titlediv button{
  margin-top: 3vh;
  margin-left: 5vw;
  height: 35px;
  width: 15vw;
  text-align: center;
}









@media screen and (max-width: 600px){
  .inputdiv{
    width: 70vw;
  }
  .inputdiv label, input{
  position: relative;
  left: 10vw;
}
}

@media screen and (max-width: 400px){
  .inputdiv{
    width: 80vw;
  }
}

@media screen and (max-width: 400px){

  .inputdiv input{
  border-radius: 5px;
  width: 30vw;
  height: 4vh;
  margin-bottom: 15px;
}

}

@media screen and (min-width: 700px){
  .inputdiv h3{
    font-size: 30px;
  }
}

#send-data:hover{
  background-color: rgb(45, 250, 45);
}



td button:hover{
  background-color: red;
}

#load-data:hover{
  background-color: lawngreen;
}

hr{
  margin-right: 40vw;
}